mixin browserHappy
    //if lt IE 9
      p.browserupgrade
        Вы используете <strong>устаревший</strong> браузер.
        Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a>
        для полноценного взаимодействия с сайтом.

mixin btnLink(href, txt)
    a.btn.btn-primary(href=href)= txt

mixin carouselSlide(active)
  .carousel-item(class=active)
    section.carousel-content
      .carousel-content-inner
        h2.slide-title Детские фотосессии<br /> по разумным ценам
        p
          | Забронируйте фотосъёмку и получите скидку 50%<br /> на следующую фотосессию для всей семьи!
        footer.slide-footer
          +btnLink('#0', 'Арендовать зал')
          +btnLink('#0', 'Заказать съёмку')

mixin photoCard(photoNum, info, linkHref)
    .photo-card
      figure.photo-wrap
        img.img-fluid(src="/images/photos/photo_" + photoNum + ".jpg", alt="Фото " + photoNum)
        figcaption
            a.photo-title(href="#0")= info
            a.photo-arrow-link(href='#0')
                svg.svg-icon
                    use.photo-svg-icon(xlink:href='#right-arrow')

mixin sectionHeader(smallTitle, mainTitle)
    header.main-section-header
        p.title-icon= smallTitle
        h3.section-title= mainTitle

mixin advantage(icon, title, content)
    section
      i(class=icon).advantage-icon
      h4.advantage-title= title
      p= content

mixin contact(className, iconClass, contactFirstLine, contactSecondLine, link, phone)
    .contact-block(class=className)
        .contact-item
            .contact-item-content
                i(class=iconClass).info-icon
                p= contactFirstLine
                    br
                    if link
                        a(href=contactSecondLine)= contactSecondLine
                    else if phone
                        a(href=phone)
                            strong= contactSecondLine
                    else
                        strong= contactSecondLine
                
mixin contactPhone
    +contact('contact-phone-block', 'bg-phone', 'телефон администратора', '8 800 2000 600', false, 'tel:+78002000600')
    
mixin contactAddress
    +contact('contact-address-block', 'bg-map', 'адрес фотостудии', 'Челябинск, Худякова, 12а')
    
mixin contactEmail
    +contact('contact-email-block', 'bg-mail', 'e-mail', 'vangog.fotostudia@yandex.ru', true)
    
mixin collapse
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon